@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");

.margin-top {
  margin-top: 80px;
}

@font-face {
  font-family: "SharpGrotesk";
  src: url("/SharpGrotesk SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 80px;
}

.margin-bottom {
  margin-bottom: 80px;
}

.h1 {
  font-size: 28px;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .h1 {
    font-size: 20px;
  }

  .h2 {
    font-size: 28px;
  }

  .margin-top {
    margin-top: 40px;
  }

  .margin-bottom {
    margin-bottom: 40px;
  }
}

.h2 {
  font-size: 56px;
  line-height: 1.2;
  text-transform: uppercase;
}

.eyebrow {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 12px;
  color: #838383;
}

.aspect-ig {
  aspect-ratio: 4/5;
}

body {
  margin: 14px;
  font-family: "SharpGrotesk", sans-serif;
  line-height: 1.2;
}

.borderr {
  border: 1px solid red;
}
