@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");

@font-face {
  font-family: "SharpGrotesk";
  src: url("/SharpGrotesk SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --breakpoint-desktop: 1440px;
}

body {
  /* background: black; */
  margin: 14px;
  font-family: "SharpGrotesk", sans-serif;
  line-height: 1.2;
}

/* In your globals.css */
.to-animate {
  view-transition-name: page-content;
}

header {
  view-transition-name: header;
}

/* globals css */

/* Old content fades out */
::view-transition-old(page-content) {
  animation: none !important;
}

/* New content waits, then fades in */
::view-transition-new(page-content) {
  animation: none !important;
  opacity: 0; /* Start invisible */
}

/* ::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, scale;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
} */

.margin-top {
  margin-top: 120px !important;
}

.margin-bottom {
  margin-bottom: 120px !important;
}

.h1 {
  font-size: 28px;
  line-height: 1.2;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .text-26 {
    font-size: 26px !important;
  }
}

.text-body {
  font-size: 15px;
}

@media (min-width: 1920px) {
  .h1 {
    font-size: 38px;
  }
  .text-body {
    font-size: 20px;
  }
  .margin-top {
    margin-top: 136px;
  }
  .margin-bottom {
    margin-bottom: 136px;
  }
}

@media (max-width: 1023px) {
  .h1 {
    font-size: 20px;
  }

  .h2 {
    font-size: 28px;
  }

  .margin-top {
    margin-top: 64px;
  }

  .margin-bottom {
    margin-bottom: 64px;
  }
}

.external-link {
  font-size: 24px;
  text-transform: uppercase;
}
/* TODO: add responsive sizes for other screen sizes */
@media (min-width: 1920px) {
  .external-link {
    font-size: 28px;
  }
}
/*
@media (max-width: 1023px) {
  .external-link {
    font-size: 16px;
  }
} */

/* .external-link-svg {
  width: 10px;
  height: 21px;
} */
@media (min-width: 1920px) {
  .external-link-svg {
    width: 10px;
    height: 21px;
  }
}

.projects-eyebrow {
  font-size: 24px;
  line-height: 1.1;
}

.h1.heading {
  font-size: 26px;
}

.h2 {
  font-size: 56px;
  line-height: 1;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.eyebrow {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 12px;
  color: #838383;
}

.aspect-ig {
  aspect-ratio: 4/5;
}

.borderr {
  border: 1px solid red;
}

.footer-link,
.header-link {
  transition: color 200ms ease-in-out;
  height: fit-content;
}

.footer-link:hover,
.header-link:hover {
  color: #626262;
}
